{% extends 'base/base.html' %}

{% load static %}

{% block extcss %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/test.css' %}">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 400px)" href="{% static 'home/css/home_400.css' %}" />
{% endblock %}


{% block topheader %}
实时监控
{% endblock %}


{% block content %}
<article id="top_box">
    <div id="rt_run_rate">
        <article id="top_box_one">
            <div><span>实时运转率：</span></div>
            <div><span id="datasss">
                {% if data.rt_run_rate is -1 %}
                    -
                {% else %}
                    {{ data.rt_run_rate|floatformat:1 }}&nbsp;<span>%</span>
                {% endif %}
            </span></div>
            <div><span>本月运转率：</span></div>
            <div><span id="datasss">
                {% if data.month_run_rate is -1 %}
                    -
                {% else %}
                    {{ data.month_run_rate|floatformat:1}}&nbsp;<span>%</span>
                {% endif %}
            </span></div>
        </article>
    </div>
</article>
<article id="button_box">
    <div id="output">
        <article id="button_box_in">
            <div><span>本班产量：</span></div>
            <div><span>{% if data.shift_rt_weight is -1 %}
                -
            {% else %}
                {{ data.shift_rt_weight|floatformat:1}}&nbsp;<span>kg</span>
            {% endif %}
            </span></div>
        </article>
    </div>
    <div id="break_per">
        <article id="button_box_in">
            <div><span>实时断头率：</span></div>
            <div><span>
                {% if data.rt_break_rate is -1 %}
                -
            {% else %}
                {{ data.rt_break_rate|floatformat:1}}&nbsp;<span>%</span>
            {% endif %}
            </span></div>
        </article>
    </div>
    <div id="weak_twist">
        <article id="button_box_in">
            <div><span>实时弱捻数：</span></div>
            <div><span>
                {% if data.rt_weak_num is -1 %}
                -
            {% else %}
                {{ data.rt_weak_num}}&nbsp;<span>锭</span>
            {% endif %}
            </span></div>
        </article>
    </div>
    <div id="empty_ingot">
        <article id="button_box_in">
            <div><span>实时空锭数</span></div>
            <div><span>
                {% if data.rt_empty_num is -1 %}
                    -
                {% else %}
                    {{ data.rt_empty_num }}&nbsp;<span>锭</span>
                {% endif %}
            </span></div>
        </article>
    </div>
</article>





{##}
{#<div class="yyyyy">#}
{#    <div class="top-yyyy">#}
{#        <a href="{% url 'danding:running_rate'%}">#}
{#            <dl class="top-dl">#}
{#                <dt >实时运转率:&nbsp;&nbsp;&nbsp;</dt>#}
{#                {% if data.rt_run_rate is -1 %}#}
{#                    <dd>-</dd>#}
{#                {% else %}#}
{#                    <dd>{{ data.rt_run_rate|floatformat:1 }}&nbsp;<span>%</span></dd>#}
{#                {% endif %}#}
{#            </dl>#}
{#            <dl class="top-dl">#}
{##}
{#                <dt>本月运转率:&nbsp;&nbsp;&nbsp;</dt>#}
{#                {% if data.month_run_rate is -1 %}#}
{#                    <dd>-</dd>#}
{#                {% else %}#}
{#                    <dd>{{ data.month_run_rate|floatformat:1}}&nbsp;<span>%</span></dd>#}
{#                {% endif %}#}
{#        </dl>#}
{#        </a>#}
{#    </div>#}
{#</div>#}
{#<div class="yyyyy">#}
{#    <div class="div2">#}
{#        <a href="{% url 'danding:output'%}">#}
{#        <dl>#}
{#            <dt>本班产量:</dt><br>#}
{#            {% if data.shift_rt_weight is -1 %}#}
{#                <dd>-</dd>#}
{#            {% else %}#}
{#                <dd><span>{{ data.shift_rt_weight|floatformat:1}}</span>&nbsp;<span>kg</span></dd>#}
{#            {% endif %}#}
{#        </dl>#}
{#        </a>#}
{#    </div>#}
{#    <div class="div3">#}
{#        <a href="{% url 'danding:break_per'%}">#}
{#        <dl>#}
{#            <dt>实时断头率:</dt><br>#}
{#            {% if data.rt_break_rate is -1 %}#}
{#                <dd>-</dd>#}
{#            {% else %}#}
{#                <dd><span>{{ data.rt_break_rate|floatformat:1}}</span>&nbsp;<span>%</span></dd>#}
{#            {% endif %}#}
{#        </dl>#}
{#        </a>#}
{#    </div>#}
{#</div>#}
{#<div class="yyyyy">#}
{#    <div class="div2">#}
{#        <a href="{% url 'danding:weak_twist'%}">#}
{#        <dl>#}
{#            <dt>实时弱捻数:<br></dt>#}
{#            {% if data.rt_weak_num is -1 %}#}
{#                <dd>-</dd>#}
{#            {% else %}#}
{#                <dd><span>{{ data.rt_weak_num}}</span>&nbsp;<span>锭</span></dd>#}
{#            {% endif %}#}
{#        </dl>#}
{#        </a>#}
{#    </div>#}
{#    <div class="div3">#}
{#        <a href="{% url 'danding:empty_ingot'%}">#}
{#            <dl>#}
{#                <dt>实时空锭数:<br></dt>#}
{#                {% if data.rt_empty_num is -1 %}#}
{#                    <dd>-</dd>#}
{#                {% else %}#}
{#                    <dd>{{ data.rt_empty_num }}&nbsp;<span>锭</span></dd>#}
{#                {% endif %}#}
{#            </dl>#}
{#        </a>#}
{#    </div>#}
{#</div>#}

{% endblock %}
{% block extjs %}
    {{block.supper}}
    <script src="{% static 'home/js/home.js' %}"></script>
    <script type="text/javascript">
    {#$(document).ready(function () {#}
    {#    function refresh(){#}
    {#        $.ajax({#}
    {#        url:{% url 'loginabout:home_ajax' %},#}
    {#        type: 'GET',#}
    {#        success: function (data) {#}
                {#var datas = {{ data|safe }}#}
    {#            alert(data.data);#}
    {#            alert(data);#}
                {#setSceneTd(datas)#}
    {#            $('#datasss').html(data);#}
    {#        },#}
    {#        error: function (datas) {#}
    {#            alert('err')#}
    {#        }#}
    {#    })#}
    {#    }#}
    {#    setInterval(refresh, 5000)#}
    {##}
    {#})#}

    </script>
{% endblock %}}