<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>
        智盛智慧工厂
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1728708_7aw47l3emfl.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 400px)" href="{% static 'base/css/base_400.css' %}" />
    {% block extcss %}
    {% endblock %}
    <style>
        .weui-tabbar {
            position: fixed !important;
            z-index: 9;
            bottom: 0;
            width: 100%;
            height: 58px;
            /*max-width: 640px;*/
        }

    </style>

</head>
<body>
{#<div class="back_div">#}
            <div class="weui-panel__bd navbar-fixed-top">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">

                        <div class="weui-flex">
                            <div><a href="{% url 'danding:home'%}"><div class="placeholder" id="return" ></div></a></div>
                                <div class="weui-flex__item">
                                    <div class="placeholder">{% block topheader %}
                                    {% endblock %}</div>
                                </div>
                            <div><a class="reload2" href="#"><div class="placeholder" id="reload"></div></a></div>
                        </div>
<!--                            <p class="weui-cell weui-cell_active weui-cell_access weui-cell_example">-->
<!--                        <a class="weui-cell weui-cell_active weui-cell_access weui-cell_example" href="javascript:">-->
<!--&lt;!&ndash;                            <div class="weui-cell__hd" id="return"><img src="{% static 'base/img/chevron-left.png'%}" alt="" style="width: 20px; height: 20px; margin-right: 16px; display: block;"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="weui-cell__bd weui-cell_primary" id="top-text" style="text-align: center">&ndash;&gt;-->
<!--                                <p style="margin: 0 0">-->
<!--                        <span>222</span>-->
<!--                        <a class="weui-cell weui-cell_active weui-cell_access weui-cell_example" href="javascript:">-->
<!--                            <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width: 20px; height: 20px; margin-right: 16px; display: block;"></div>-->
<!--                            <div class="weui-cell__bd weui-cell_primary">-->
<!--                                <p>文字标题</p>-->
<!--                            </div>-->
<!--                            <span class="weui-cell__ft"></span>-->
<!--                        </a>-->
                    </div>
                </div>
            </div>
    <div class="contents_one">
    {% block content %}
    {% endblock %}
    </div>
    <footer>
        <div class="weui-tabbar">
{#            <a href="{% url 'danding:home' %}" class="home">#}
                <div class="weui-tabbar__item" id="home">

<!--                    <div style="display: inline-block; position: relative;">-->
                        <img src="{% static 'base/img/home.png' %}" alt="" class="weui-tabbar__icon">
<!--                        <span class="weui-badge" style="position: absolute; top: -2px; right: -13px;">10</span>-->
<!--                    </div>-->
                    <p class="weui-tabbar__label">实时监控</p>

                </div>
{#            </a>#}
{#            <a href="{% url 'danding:worker' %}" class="worker weui-bar__item_on">#}
                <div class="weui-tabbar__item " id="worker">
                    <img src="{% static 'base/img/worker3.png' %}" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">我的产量</p>
                </div>
{#            </a>#}
{#            <a href="{% url 'danding:worker_list' %}" class="worker_list">#}
                <div class="weui-tabbar__item" id="list">
<!--                    <div style="display: inline-block; position: relative;">-->
                        <img src="{% static 'base/img/worker_list3.png' %}" alt="" class="weui-tabbar__icon">
<!--                        <span class="weui-badge weui-badge_dot" style="position: absolute; top: 0; right: -6px;">0</span>-->
<!--                    </div>-->
                    <p class="weui-tabbar__label">员工产量</p>
                </div>
{#            </a>#}
{#            <a href="{% url 'danding:arguments' %}" class="arguments">#}
                <div class="weui-tabbar__item" id="arguments">
                    <img src="{% static 'base/img/arguments3.png' %}" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">设备参数</p>
                </div>
{#            </a>#}
        </div>

<!--		<a href="{% url 'danding:worker' %}" class="worker">-->
<!--			<dl>-->
<!--				<dt><span></span></dt>-->
<!--				<dd>工人信息</dd>-->
<!--			</dl>-->
<!--		</a>-->
<!--		<a href="{% url 'danding:worker_list' %}" class="worker_list">-->
<!--			<dl>-->
<!--				<dt><span></span></dt>-->
<!--				<dd>员工列表</dd>-->
<!--			</dl>-->
<!--		</a>-->
<!--		<a href="{% url 'danding:arguments' %}" class="arguments">-->
<!--			<dl>-->
<!--				<dt><span></span></dt>-->
<!--				<dd>参数列表</dd>-->
<!--			</dl>-->
<!--		</a>-->
    </footer>
<!--    <button class="weui-btn weui-btn_primary">智盛</button>-->
<!--    <i class="iconfont icon-HOME"></i>-->
<!--    <i class="iconfont icon-footer-"></i>-->
    <script src="{% static 'base/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'base/js/base.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.js' %}"></script>
    <script src="{% static 'base/js/npm.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
     <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
    <script type="text/javascript">
        var urlstr = location.href;
        var urlstatus=false;
        $(function () {
            $(".reload2").click(function () {
                location.reload(true);
            })

        });
        $(function () {
            $("#home").click(function () {
            $(window).attr('location',"{% url 'danding:home' %}");
        })

        });
        $(function () {
            $("#worker").click(function () {
                $(window).attr('location',"{% url 'danding:worker' %}");
            })

        });
        $(function () {
            $("#list").click(function () {
                $(window).attr('location',"{% url 'danding:worker_list' %}");
            })

        });
        $(function () {
            $("#arguments").click(function () {
                $(window).attr('location',"{% url 'danding:arguments' %}");
            })

        });
        $(".weui-tabbar__item").each(function () {
        if ((urlstr + '/').indexOf($(this).attr('id')) > -1 && $(this).attr('id')!='') {
        $(this).addClass('weui-bar__item_on');urlstatus = true
        } else {
        $(this).removeClass('weui-bar__item_on');
        }
        });
        if (!urlstatus) {$(".weui-tabbar__item").eq(0).addClass('weui-bar__item_on'); }
        alert(sessionStorage.sys_level);
        if (sessionStorage.sys_level == 0){

            document.getElementById('arguments').style.display = "none";
            document.getElementById('list').style.display = "none";
        }

    </script>
    {% block extjs %}
    {% endblock %}
{#    </div>#}
</body>
</html>