<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>
        智盛智慧工厂
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
unpkg.com/react@16.7.0/umd/react.production.min.js
    {% block extcss %}
    {% endblock %}

</head>
<body>
    <el-container>
        <el-header>Header</el-header>
        <el-main>Main</el-main>
        <el-footer>Footer</el-footer>
    </el-container>


    {% block content %}
    {% endblock %}

    <Footer>Footer</Footer>


<!--    <button class="weui-btn weui-btn_primary">智盛</button>-->
<!--    <i class="iconfont icon-HOME"></i>-->
<!--    <i class="iconfont icon-footer-"></i>-->



</body>
    <script src="{% static 'base/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'base/js/base.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.js' %}"></script>
    <script src="{% static 'base/js/npm.js' %}"></script>
    <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.10.3/dingtalk.open.js"></script>
    <script type="text/javascript" src="http://g.alicdn.com/dingding/dingtalk-pc-api/2.3.1/index.js"></script>
    <script>
        {#alert("code");#}
        //进行钉钉登录操作

        dd.ready(function () {
            // dd.ready参数为回调函数，在环境准备就绪时触发，jsapi的调用需要保证在该回调函数触发后调用，否则无效。
            dd.runtime.permission.requestAuthCode({
                corpId: "dingaa331c200723006a35c2f4657eb6378f",
                onSuccess: function (result) {
                    {
                        var code = result.code;
                        $.ajax({
                            url : '{% url 'loginabout:login'%}',
                            type : "POST",
                            contentType: "application/json",
                            dataType: "json",
                            data:JSON.stringify({
                                "code" : code
                            }),
                            success:function (data) {
                                alert("登录中");
                                location.href = {% url 'danding:home'%};

                            },
                            error:function (e) {
                                alert("登录失败")
                            }
                        })

                    }
                },
                onFail: function (err) {
                    alert('出错了，' + err);
                }
            });
        });
    </script>
    {% block extjs %}
    {% endblock %}
</html>